#include <tunables/global>

# The executable of python that will run the app
/miniconda3/envs/cog_worker/bin/python {
    #include <abstractions/base>
    #include <abstractions/python>

    /miniconda3/envs/cog_worker/** mr,
    # If you have code that the sandbox must be able to access, add lines
    # pointing to those directories:
    # /the/path/to/your/sandbox-packages/** r,

    /tmp/codejail-*/ rix,
    /tmp/codejail-*/** wrix,
}